body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_1 ,#emotion_2
{
  color: black;font-size: 22px;color:red;
}

label{
color:black;font-size: 20px;
}

.heading{
width: 100%;box-shadow: 15px 15px 20px navy;font-size: 25px;font-family: Verdana;


}
